/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* generici */

body{
    background-color: rgb(28, 54, 79);
}

/* titolo della pagina */

.title-container{
    text-align: center;
    margin: 20px;
}

h1{
    color: white;
    font-size: 32px;
}

/* contenitore dei quadrati */

.squares-box{
    max-width: 1080px;
    margin: 0 auto;
    
}

/* oggetti */

#squares-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: space-between;
    list-style-type: none;
    color: white;
}

.box{
    padding: 0 10px;
    width: 50px;
    height: 50px;
}

/* sfondi dei quadrati */

.default{
    background-color: blue;
}

.fizz{
    background-color: greenyellow;
}

.buzz{
    background-color: yellow;
}

.fizzbuzz{
    background-color: magenta;
}



