/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* generici */

body{
    background-color: rgb(28, 54, 79);
}

/* titolo della pagina */

.title-container{
    text-align: center;
    margin: 20px;
}

h1{
    color: white;
    font-size: 32px;
}

/* contenitore dei quadrati */

.squares-box{
    max-width: 1080px;
    margin: 0 auto;
    
}

/* oggetti */

#squares-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: white;
}

ul li{
    padding: 0 10px;
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 102, 175);
    border: 5px solid rgb(28, 54, 79);
}

li.fizz{
    background-color: greenyellow;
}

li.buzz{
    background-color: yellow;
}

li.fizzbuzz{
    background-color: magenta;
}





